* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Open Sans', sans-serif;
   color: #444;
}

:root {
   --gen-color: #d9232d;
}

/* Scroll_bar */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #ddd;
}

::-webkit-scrollbar-thumb {
   background: var(--gen-color);
   border-radius: 10px;
}

a {
   text-decoration: none;
   color: #d9232d;
}

a:hover {
   text-decoration: none;
   color: #e24d55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Raleway", sans-serif;
}

.container {
   max-width: 1130px;
   overflow: hidden;
   margin: 0 auto;
}

/* Back to top button */
.back_to_top {
   position: fixed;
   bottom: 15px;
   right: 22px;
   width: 40px;
   height: 40px;
   z-index: 1000;
   background: var(--gen-color);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   transition: all .5s ease-in-out;
   opacity: 0;
   cursor: default;
}

.back_to_top:hover {
   color: #fff;
   background: #e1444d;
}

.back_to_top i {
   font-size: 28px;
   color: #fff;
}

/* Header */
header {
   position: fixed;
   width: 100%;
   background: #fff;
   z-index: 2;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header {
   display: flex;
   justify-content: space-between;
   padding: 26px 0 25px 0;
   transition: all .5s;
}

.header_sticky {
   padding: 18px 0;
}

.header .logo {
   font-size: 28px;
   margin: 0;
   padding: 0;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1;
}

.header .logo a {
   color: #556270;
}

.nav_links {
   display: flex;
}

.nav_links ul {
   display: flex;
   list-style: none;
}

.nav_links li {
   padding: 5px 16px 10px;
}

.nav_links li a {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #556270;
   font-size: 15px;
   font-family: "Poppins", sans-serif;
   transition: .3s;
}

.nav_links li a:hover,
.nav_links .active {
   color: var(--gen-color);
}

.nav_links .get_started_div {
   margin-top: 5px;
}

.nav_links .get_started {
   background: var(--gen-color);
   color: #fff;
   padding: 10px 25px;
   border-radius: 4px;
   font-weight: 400;
   margin-left: 20px;
}

.nav_links .get_started:hover {
   color: #fff;
   background: #e1444d;
}

/* drop down */
.drop_down {
   display: none;
   animation: d_d .2s ease-in-out;
}

@keyframes d_d {
   from {
      top: 80px;
   }

   to {
      top: 50px;
   }
}

.drop_down_scroll {
   animation: ani_scroll .2s;
}

@keyframes ani_scroll {
   from {
      top: 80px;
   }

   to {
      top: 40px;
   }
}

.nav_links ul li i {
   font-size: 12px;
}

.bi-chevron-down {
   margin-left: 3px;
}

.nav_links ul li:hover .drop_down {
   position: absolute;
   display: block;
   color: #000;
   background: #fff;
   margin-left: -15px;
   margin-top: 10px;
   z-index: 1000;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: .3s;
}

.drop_down ul {
   display: block;
   padding: 10px 8px;
}

.drop_down ul li {
   width: 185px;
   padding: 12px;
   transition: all .4s ease-in-out;
}

.drop_down ul li a {
   font-size: 15px;
   color: #303030;
   font-weight: 400;
   transition: all .3s ease-in-out;
}

.bi-chevron-right {
   float: right;
}

.deep_drop_down {
   display: none;
   animation: d_d_d .3s;
}

@keyframes d_d_d {
   from {
      left: 60px;
   }

   to {
      left: 20px;
   }
}

.deep_right:hover .deep_drop_down {
   position: absolute;
   display: block;
   margin-top: -30px;
   margin-left: -210px;
   background: #fff;
   z-index: 1000;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: all 1s ease-in-out;
}


/* Showcase */
.showcase {
   height: 100vh;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.showcase .showcase_content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   opacity: 0;
   z-index: -1;
   transition: opacity 1s ease-in-out;
}

.showcase .showcase_content::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(30, 35, 40, 0.6);
}

.showcase .showcase_content img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   -webkit-user-drag: none;
   --user-drag: none;
}

.showcase .showcase_content .showcase_box {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   line-height: 40px;
}

.showcase .showcase_content .showcase_box h1 {
   text-transform: capitalize;
   margin-bottom: 30px;
   margin-top: 30px;
   font-size: 48px;
   font-weight: 700;
}

.showcase .showcase_content .showcase_box p {
   line-height: 26px;
   font-size: 18px;
   margin-bottom: 35px;
   margin-top: 34px;
}

.showcase .showcase_content .showcase_box a {
   padding: 12px 32px;
   background: var(--gen-color);
   border-radius: 4px;
   color: #fff;
   font-size: 14px;
}

.showcase .showcase_content .showcase_box a:hover {
   background: #df3740;
}

/* About */
.about {
   padding: 3.6rem 0;
}

.about .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, auto));
   grid-gap: 3rem;
}

.about .about_box:first-child h3 {
   font-size: 3rem;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 60px;
   margin-bottom: 20px;
}

.about .about_box:first-child p {
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 32px;
}

.about .about_box:last-child p {
   font-size: 16px;
   line-height: 25px;
}

.about .about_box:last-child ul {
   margin-top: 20px;
   list-style: none;
}

.about .about_box:last-child ul li {
   padding: 10px 0 0 28px;
   position: relative;
}

.about .about_box:last-child ul i {
   position: absolute;
   color: var(--gen-color);
   font-size: 20px;
   top: 8px;
   left: 0;
}

.about .about_box:last-child p:last-child {
   margin-top: 20px;
   font-style: italic;
}

/* clients */
#clients {
   background: #f1f1f1;
   margin-bottom: 60px;
   padding: 15px 0;
   text-align: center;
}

#clients .container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, auto));
   grid-column: 2rem;
}

#clients .container .cli_box {
   display: flex;
   align-items: center;
   justify-content: center;
}

#clients .container img {
   max-width: 42%;
   padding: 15px 0;
   transition: all .4s ease-in-out;
   filter: grayscale(100);
}

#clients .container img:hover {
   filter: none;
   transform: scale(1.15);
}

/* services */
#services {
   margin-bottom: 60px;
}

#services .ser_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(420px, auto));
   grid-column-gap: 1.4rem;
   grid-row-gap: 1rem;
}

#services .ser_boxes .ser_box {
   background: #f6f6f6;
   padding: 30px;
   border-radius: 6px;
}

#services .ser_boxes .ser_box i {
   float: left;
   font-size: 40px;
   color: var(--gen-color);
}

#services .ser_boxes .ser_box h3 {
   font-size: 18px;
   font-weight: 700;
   margin-left: 70px;
   margin-bottom: 15px;
}

#services .ser_boxes .ser_box h3 a {
   color: #556270;
   transition: .3s ease-in-out;
}

#services .ser_boxes .ser_box p {
   margin-left: 70px;
   font-size: 14px;
   line-height: 24px;
}

#services .ser_boxes .ser_box:hover a {
   color: var(--gen-color);
}

/* Portfolio */
.portfolio {
   margin-bottom: 4rem;
}

.portfolio .por_btns {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.portfolio .por_btns li {
   list-style: none;
   padding: 8px 10px;
   text-transform: uppercase;
   display: inline-block;
   font-size: 14px;
   font-weight: 600;
   margin: 0 4px;
   border-radius: 3px;
   cursor: pointer;
   color: #444;
   transition: all .3s ease-in-out;
}

.portfolio .por_btns li:hover,
.portfolio .por_btns li.por_active {
   color: #fff;
   background: var(--gen-color);
}

.portfolio_boxes {
   margin-top: 2rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   grid-gap: 1.5rem;
}

.portfolio_boxes .por_box {
   overflow: hidden;
   position: relative;
}

.portfolio_boxes .por_box img {
   width: 100%;
   height: 100%;
   transition: all .3s ease-in-out;
   object-fit: cover;
}

.portfolio_boxes .por_box:hover img {
   transform: scale(1.2);
}
   
.portfolio_boxes .por_details {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: transparent;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 20px;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_box:hover .por_details {
   background: rgba(0, 0, 0, 0.5);
}

.portfolio_boxes .por_details h3 {
   position: absolute;
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 65px;
   opacity: 0;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_details h5 {
   position: absolute;
   color: #ffffffb3;
   font-size: 14px;
   letter-spacing: 0.1em;
   font-style: italic;
   margin-bottom: 38px;
   opacity: 0;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_details .por_links a {
   opacity: 0;
   color: #ffffffb3;
   font-size: 28px;
   display: inline-block;
   margin: 0 5px 0 0;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_details .por_links a:hover {
   color: #fff;
}

.portfolio_boxes .por_details:hover h3,
.portfolio_boxes .por_details:hover h5,
.portfolio_boxes .por_details:hover .por_links a {
   opacity: 1;
}

